tmp/*

# runtime created directories
data/*
clean_csv/*
original_csv/*
connections/*
old_connections/*
postAnalysis/*
mappings/*

# WikiApi files
config.json

# output files
*.log

# pywikibot
*secretPasswords
user-config.py
*.ctrl
*.lwp
apicache

# CI
.coverage
.tox
